body {
	font-family: sans-serif;
}

td {
	vertical-align: top;
}

pre {
	background-color: #161618;
	color: white;
	padding: 5px;
	font-family: monospace;
}

input[pattern]:invalid{
	color:red;
}

input[pattern]:valid{
	color:green;
}

#trackTable tr:nth-child(odd) {
	background-color: aliceblue;
}