body {
	font-family: sans-serif;
}

#modeswitcher {
	position: fixed;
	top: 5px;
	right: 5px;
	padding: 5px;
	line-height: 20px;
}

main {
	width: 80%;
	margin: 0 auto;
}

td {
	vertical-align: top;
}

.titlebox {
	width: 100%;
	margin-bottom: 20px;
}

.toolbox {
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px;
	width: 30%;
	float: left;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

pre {
	background-color: #161618;
	color: white;
	padding: 5px;
	box-sizing: border-box;
	font-family: monospace;
	display: block;
	width: 100%;
	word-break: break-word!important;
	white-space: pre-wrap;

}

.toolbox table {
	width: 100%;
}

.toolbox table td {
	padding: 2px;
}

.toolbox textarea {
	width: 100%;
	resize: vertical;
	max-height: 300px;
	height: 100px;
	background-color: #161618;
	color: white;
	font-family: monospace;
}

input[pattern]:invalid{
	color:red;
}

input[pattern]:valid{
	color:green;
}

#duration, #cuePoint {
	width: 80px;
	text-align: right;
}

button {
	margin-top: 3px;
	margin-bottom: 3px;
}

.delete {
	display: inline-block;
	float: right;
	background-color: darkred;
	color: white;
	width: 10px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 50%;
	text-align: center;
	font-weight: bolder;
}

.delete:hover {
	background-color: #b40202;
}

#trackTable tr:nth-child(odd) {
	background-color: #b0c3ea;
}